dataset_vlm
dataset_vlm_mini
dataset_vlm_short
dataset_vlm_table
dataset_vlm_0328
dataset_vlm_0328_short
dataset_vlm_0328_mini
res
classification_plot.png
classification_plot_mini.png
user_choice_mini.csv
user_choice_short.csv
__pycache__
dataset_vlm_crop
results_arm.csv
results_mini.csv
classify_functions_multi_old.py
image.jpg